@{
    ViewBag.Title = "Home Page";
}

<div class="form-horizontal">
    <center>
        <div class="form-group">
            <div class="col-md-10">
                <h5>@Html.Label("Welcome to", new { style = "font-size:40px; color:##36e800" })</h5>
                <h5>@Html.Label("Brookings Indoor Training Center", new { style = "font-size:40px; color:#36e800" })</h5>
            </div>
        </div>
    </center>
</div>

<hr />

<div class="form-horizontal">
    <center>
        <div class="form-group">
            <div class="col-md-10">
                <font size="4" face="helvetica" color="black">
                    <div>This will help determine your payback/savings</div>
                    <div>when adding a solar array to your home</div>
                </font>
            </div>
        </div>
    </center>
</div>
